@use "../ui/vars" as *;

.homepage {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  width: 100%;
  overflow-x: clip;
  overflow-y: visible;
  position: relative;

  p {
    font: var(--type-body-l);
  }

  .mdn-ui-emphasis-l {
    font: var(--type-emphasis-l);
    margin: 0;

    @media screen and (min-width: $screen-md) {
      text-align: initial;
    }
  }
}
